body {
	width: 100%;
	text-align: center;
}

#root {
  width: 100%;
}

.color-div {
  width: 90%;
  height: 20px;
  float: left;
  border: 2px solid #000000;
}

.color-input {
  margin: 10px 10px 10px 2px;
  width: 70px;
  padding: 0 5px;
  height: 30px;
  border-radius: 50px;
  text-align: center;
}

.spacer {
  height:20px;
}

.list {
  width: 100%;
  clear: both;
  margin: 0;
  padding: 0;
}

.add-btn {
  color: #fff;
  background: blue;
  border-radius: 50px;
  height: 30px;
  width: 100px;
  margin: 10px;
}

.save-btn {
  background: green;
  color: #fff;
  margin: 10px;
  width: 100px;
  height: 30px;
  border-radius: 50px;
}

.delete-btn {
  background: red;
  color: #fff;
  width: 20px;
  height: 24px;
  border: none;
  float: left;
}

.left-td {
  width: 100%;
  float:left;
  height:50px;
  padding:5px;
}

.left-td .color-input {
  height: 30px;
  margin-left: 2px;
}

.right-td {
  float:left;
  height:20px;
}